<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.review.dao.IAnswerMapper" >

    <select id="findAll"  resultType="ReviewAnswer">
        select * from review_answer
    </select>

    <select id="findAllById"  resultType="ReviewAnswer">
        SELECT * FROM review_answer WHERE id = #{ID}
    </select>

</mapper>